 <% if current_user.admin? %>
        <a href="/animals/new" class="dashboard-module">
          <img src="img/animaladd.png" tppabs="img/animaladd.png" width="64" height="64" alt="edit">
          <span>ANIMAL ADD</span>
        </a>

        <a href="/users/new" class="dashboard-module">
          <img src="img/useradd.png" tppabs="img/useradd.png" width="64" height="64" alt="edit">
          <span>USER ADD</span>
        </a>
<% end %>
        <a href="/contacts/new" class="dashboard-module">
          <img src="img/feedback.png" tppabs="img/feedback.png" width="64" height="64" alt="edit">
          <span>FEEDBACK</span>
        </a>
 <% unless current_user.barner? %>        
        <a href="/reports" class="dashboard-module">
          <img src="img/reportshow.png" tppabs="img/reportshow.png" width="64" height="64" alt="edit">
          <span>REPORTS</span>
        </a>
        
        <a href="/reports/new" class="dashboard-module">
          <img src="img/writereport.png" tppabs="img/writereport.png" width="64" height="64" alt="edit">
          <span>WRITE REPORT</span>
        </a>
<% end %>
        <a href="/contacts" class="dashboard-module">
          <img src="img/contact.png" tppabs="img/contact.png" width="64" height="64" alt="edit">
          <span>MESSAGES</span>
        </a>
        <div style="clear: both"></div>
      </div><table>
      
    </table>