USER ID        :   <select>
<option value=""></option>
<option value="0">VETERINARY LIST</option>
<option value="1">ADMIN LIST</option>
<option value="2">CLEANER LIST</option>
</select><br><br> 
FEEDBACK TITLE :  <input type="text" name="username"><br><br>
DESCRIPTION    :  <textarea id="textarea1" length="120"></textarea><br><br>
REVIEW         :   <textarea id="textarea1" length="120"></textarea><br><br>
<input type="submit" value="SEND FEEDBACK">