<div id="top">
  <div class="left">
    <% if signed_in? %>
    <p>Welcome, <strong><label><%= current_user.name %> </label></strong> [ <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %> ]</p>
    <% end %>
  </div>
</div>

<div id="nav">
  <ul>
    <li class="upp"><a href="/">Main Page</a></li>
    <% if current_user.admin? %>
    <li class="upp"><a href="#">Animal control</a>
      <ul>
        <li class="b1"><a class="icon view_page" href="/animals/new">Add Animal</a></li>
        <li class="b2"><a class="icon report" href="/animals">Manage Animal</a></li>
      </ul>
    </li>
    <% end %>
    <% unless current_user.barner? %>
    <li class="upp"><a href="#">Reports Control</a>
      <ul>
        <li class="b1"><a class="icon report" href="/reports/new">Write Reports</a></li>
        <li class="b1"><a class="icon report" href="/reports">Manage Reports</a></li>
      </ul>
    </li>
    <% end %>
    <% if current_user.admin? %>
    <li class="upp"><a href="#">Users</a>
      <ul>
        <li>› <a href="/users/new">Add new user</a></li>
        <li>› <a href="/users">Edit users</a></li>
      </ul>
    </li>
    <% end %>
    <li class="upp"><a href="#">Contacts</a>
      <ul>
        <li>› <a href="/contacts/new">Write Feedback</a></li>
        <li>› <a href="/contacts">Send Messages</a></li>
        <li>› <a href="/contacts/recieved">Recieved Messages</a></li>
      </ul>
    </li>
  </ul>
</div>

<div id="content">
  <div id="sidebar">
    <% if current_user.admin? %>
    <div class="box">
      <div class="h_title">› Animal control</div>
      <ul id="home" style="display: block;">
        <li class="b1"><a class="icon view_page" href="/animals/new">Add Animal</a></li>
        <li class="b2"><a class="icon report" href="/animals">Manage Animal</a></li>
      </ul>
    </div>
    <% end %>
    <% unless current_user.barner? %>
    <div class="box">
      <div class="h_title">› Reports Control</div>
      <ul id="home" style="display: block;">
        <li class="b1"><a class="icon report" href="/reports/new">Write Reports</a></li>
        <li class="b1"><a class="icon report" href="/reports">Manage Reports</a></li>
      </ul>
    </div>
    <% end %>
    <% if current_user.admin? %>
    <div class="box">
      <div class="h_title">› Users</div>
      <ul id="home" style="display: block;">
        <li class="b2"><a class="icon add_user" href="/users/new">Add new user</a></li>
        <li class="b1"><a class="icon block_users" href="/users">Edit users</a></li>
      </ul>
    </div>
    <% end %>
    <div class="box">
      <div class="h_title">› Contacts
        <a href="#" style="position:relative;right:-80px;color:white"><i class="fa fa-envelope"></i> [ <%= message_count %> ] </a>
      </div>
      <ul id="home" style="display: block;">
        <li class="b2"><a class="icon contact" href="/contacts/new">Write Feedback</a></li>
        <li class="b2"><a class="icon contact" href="/contacts/recieved">Recieved Messages</a></li>
        <li class="b2"><a class="icon contact" href="/contacts">Send Messages</a></li>
      </ul>
    </div>
  </div>
</div>